{% extends 'base/base_news.html' %}
{% load bad_words %}
{% load custom_tags %}

{% block title %}Новости{% endblock %}

{% block content %}
    <h1>Новости</h1>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Search" />
    </form>
    <hr>
    {% if post_search %}
        <h3>Всего найдено: {{ total_post_search_count }}</h3>
        <h4>По {{ post_search|length }} на странице</h4>
        <hr>
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Превью</td>
            </tr>
            {% for dpost in post_search %}
                <tr>
                    <td>{{ dpost.title|censor }}</td>
                    <td>{{ dpost.published|date:'d M Y' }}</td>
                    <td>{{ dpost.content|censor|truncatewords:20 }}</td>
                </tr>
            {% endfor %}
        </table>
        
        {% if page_obj.has_previous %}
            {% if request.GET %}
                <a href="?{% url_replace page=1 %}">1</a>
            {% endif %}
            {% if page_obj.previous_page_number != 1  %}
                ...
                <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}
        
        {{ page_obj.number }}
        
        {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
                ...
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}    
        {% endif %}
    {% elif request.GET %}
        <h3>По заданным критериям ничего не найдено</h3>
    {% endif %}
{% endblock %}